{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": false,
			"dynamicImport": false,
			"minify": {
				"compress": true,
				"mangle": true
			}
		},
		"transform": null,
		"target": "es5",
		"loose": false,
		"externalHelpers": false,
		"keepClassNames": false
	}
}
